.about {
  background-image: url(./images/SW_AndrewParrish.jpg);
  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 205px 200px 220px 180px;
    letter-spacing: -1px;
  }
  &__title {
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 70px;
    margin-left: 228px;
    position: relative;
    &::before {
      content: "";
      background-image: url("./images/sprites-image.png");
      background-position: -10px -10px;
      width: 255px;
      height: 33px;
      position: absolute;
      top: 74px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__text {
    width: 620px;
    font-size: 30px;
    line-height: 54px;
    position: relative;
    margin-bottom: 145px;
    &::before {
      content: "";
      background-image: url("./images/Signature.png");
      width: 210px;
      height: 143px;
      position: absolute;
      left: 63%;
      top: 265px;
    }
  }
}
