.features {
  background-image: url("./images/yellow.jpg");
  &__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 82%;
  }
  &__item {
    width: 450px;
    margin-top: 160px;
    margin-bottom: 68px;
  }
  &__item_turnip {
    position: relative;
    &::before {
      content: "";
      background-image: url("/images/spritesheet.png");
      background-position: -5px -5px;
      width: 85px;
      height: 80px;
      position: absolute;
      left: 50%;
      top: -92px;
      transform: translateX(-50%);
    }
  }
  &__item_water {
    position: relative;
    &::before {
      content: "";
      background-image: url("/images/spritesheet.png");
      background-position: -102px -91px;
      width: 105px;
      height: 80px;
      position: absolute;
      left: 50%;
      top: -85px;
      transform: translateX(-50%);
    }
  }
  &__item_social {
    position: relative;
    &::before {
      content: "";
      background-image: url("/images/spritesheet.png");
      background-position: -102px -5px;
      width: 75px;
      height: 80px;
      position: absolute;
      left: 50%;
      top: -90px;
      transform: translateX(-50%);
    }
  }
  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
  &__text {
    font-size: 16px;
    line-height: 25px;
  }
}
