.features {
  background-image: url("./images/yellow.jpg");
  & .container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 450px;
    margin-top: 160px;
    margin-bottom: 68px;
  }
  &__item_turnip {
    position: relative;
    &::before {
      content: "";
      background-image: url("./images/sprites-image.png");
      background-position: -10px -151px;
      width: 87px;
      height: 79px;
      position: absolute;
      left: 50%;
      top: -92px;
      transform: translateX(-50%);
    }
  }
  &__item_water {
    position: relative;
    &::before {
      content: "";
      background-image: url("./images/sprites-image.png");
      background-position: -10px -63px;
      width: 106px;
      height: 68px;
      position: absolute;
      left: 50%;
      top: -85px;
      transform: translateX(-50%);
    }
  }
  &__item_social {
    position: relative;
    &::before {
      content: "";
      background-image: url("./images/sprites-image.png");
      background-position: -117px -151px;
      width: 64px;
      height: 76px;
      position: absolute;
      left: 50%;
      top: -90px;
      transform: translateX(-50%);
    }
  }
  &__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
  &__text {
    font-size: 16px;
    line-height: 25px;
  }
}
