.footer-form {
  &__title {
    text-align: start;
  }
  &__item {
    input::-webkit-input-placeholder {
      color: $color-primary;
      font-family: $font-family-primary;
    }
  }
  &__input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color-primary;
    font-style: italic;
    padding-left: 20px;
    width: 235px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    padding-bottom: 62px;
  }
  & .message {
    width: 560px;
  }
  &__button {
    font-size: 18px;
    line-height: 45px;
    color: $color-primary;
    padding: 3px 28px;
    border: 1px solid $color-primary;
    background-color: transparent;
    font-family: $font-family-primary;
    font-weight: 600;
    cursor: pointer;
    margin-top: 52px;
  }
}
