.month-menu {
  padding-top: 70px;
  padding-bottom: 105px;
  &__caption {
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
    position: relative;
    margin: 0 auto 110px auto;
    letter-spacing: -1px;
    &::before {
      content: "";
      background-image: url("/images/sprites-image.png");
      background-position: -10px -10px;
      width: 255px;
      height: 33px;
      position: absolute;
      left: 50%;
      top: 75px;
      transform: translateX(-50%)
    }
  }
  & .container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    &-description {
      width: 250px;
      background-color: #f8f8f8;
      padding-top: 42px;
    }
  }
  &__title {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    &::before {
      content: "";
      background-image: url("/images/Line.png");
      width: 88px;
      height: 1px;
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__text {
    line-height: 25px;
  }
  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
}
