.navigation {
  display: flex;
  padding: 53px 0;
  width: 600px;
  justify-content: space-around;
  margin-right: -52px;
  &__item {
    font-size: 18px;
    line-height: 38px;
    text-decoration: none;
    color: $color-primary;
    font-weight: 700;
    padding: 5px 22px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $color-primary;
    }
    }
  }
