@font-face {
    font-family: Merriweather-Light;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Merriweather-Light.ttf');
}

body {
    font-family: $font-family-primary;
    font-size: 16px;
    line-height: 18px;
    color: $color-primary;
    text-align: center;
}
.container {
  margin: 0 auto;
  width: 1500px;
}
