.social {
  display: flex;
  justify-content: space-between;
  min-width: 115px;
  margin-left: auto;
  margin-right: 260px;
  margin-bottom: 33px;
  &__facebook {
    width: 47px;
    height: 47px;
    background-image: url("/images/sprites-image.png");
    background-position: -163px -50px;
    border: 1px solid #000000;
  }
  &__instagram {
    width: 47px;
    height: 47px;
    background-image: url("/images/sprites-image.png");
    background-position: -124px -50px;
    border: 1px solid #000000;
  }
}
