.social {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 33px;

  &__item {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--facebook {
    width: 47px;
    height: 47px;
    background-image: url("/images/sprites-image.png");
    background-position: -163px -50px;
    border: 1px solid #000000;
  }
  &--instagram {
    width: 47px;
    height: 47px;
    background-image: url("/images/sprites-image.png");
    background-position: -124px -50px;
    border: 1px solid #000000;
  }
}
